<div class="row my-5">
  <div class="col-12">
    <div class="container-about">
      <div id="about">
        <p>Hey, I'm Kevin and I'm a web developer originally from Orange County, California.</p>
        <p>I came to Tokyo to attend Le Wagon's Web Development Bootcamp
        and completed the intensive 9 week course on August 2024. Currently working on personal projects
        while looking for front-end opportunities in Japan!</p>
        <p>When not coding, I like to do photography, watch anime, and play sports.</p>
      </div>
    </div>
  </div>
</div>
