<div class="row my-5">
  <div class="col-12">
    <div class="container-about">
      <div id="about">
        <p>Hey, I'm <strong>Kevin</strong> and I'm from <strong>Orange County, California</strong>.</p>
        <p>I came to Tokyo to attend <strong>Le Wagon's Web Development Bootcamp</strong>
        and completed the <strong>intense</strong> 9 week course at the end of August 2024. Currently, I am working on personal projects
        while looking for job opportunities in Japan!</p>
        <p>When not coding, I like to do photography, watch anime, and play sports.</p>
      </div>
    </div>
  </div>
</div>
