<div class="jumbotron">
  <div class="container py-5">
    <div class="row align-items-center">
      <div class="col-4 col-md-2">
        <%= image_tag 'me.jpeg', alt: "profile photo", class: 'avatar-profile' %>
      </div>
      <div class="col-8 col-md-10">
        <h1 class="title-main"><strong>Kevin Young</strong></h1>
        <h2>Web Developer</h2>
        <div class="d-flex justify-content-start">
          <div class="button-social">
            <i class="fa-brands fa-github"></i>
            <%= link_to "", "https://github.com/Paretooptimal22", target: '_blank', class: 'button-social-link' %>
          </div>
          <div class="button-social">
            <i class="fa-brands fa-linkedin"></i>
            <%= link_to "", "https://www.linkedin.com/in/kevincyoung", target: '_blank', class: 'button-social-link' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
