.highlight {
  // background-image: linear-gradient(to right, $orange 50%, transparent 50%);
  background-image: linear-gradient(to right, lightblue, deepskyblue, turquoise, aquamarine, transparent 50%);
  // background-image: linear-gradient(to right, coral, orange, gold, yellow, transparent 55%);
  background-size: 200% 100%; /* Make the background size larger than the element */
  background-position: -100%; /* Initially position the background so it's "off-screen" to the right */
  transition: background-position 0.5s ease-in-out;
  font-weight: bold;
}

/* This will trigger the left-to-right animation */
.highlight-active {
  background-position: 0;
}
