// Specific CSS for your home-page
body {
  background-color: #f1faee;
  color: #1d3557;
}

.title-main {
  // color: #2C3639;
  // color: #F1F0E8;
  color: #1d3557;
  // font-family: 'Kanit', sans-serif;
  // font-weight: 500;
  // font-style: normal;
}
